<div class="container my-4">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div *ngFor="let acc of accounts" class="mb-4">


        <div  style="cursor: pointer;">
          <app-account-summary
            [account]="acc"
            (balanceIncreased)="handleIncrease($event)"
            (balanceDecreased)="handleDecrease($event)"
            (requestTransferForm)="toggleForm(acc.accountId)">
          </app-account-summary>
        </div>


        <app-transaction-form
          *ngIf="selectedAccountId === acc.accountId"
          [fromAccountId]="acc.accountId"
          (transferCompleted)="refreshAccounts()">
        </app-transaction-form>

      </div>
    </div>
    <div *ngIf="latestNotification" class="alert alert-info shadow-sm">
      <strong>{{ latestNotification.message }}</strong>
      <span class="ms-2 text-muted">{{ latestNotification.timestamp }}</span>
    </div>
  </div>
</div>
